@font-face {
  font-family: "Light"; /*Can be any text*/
  src: local("FuturaLT-Light"),
    url("./font/FuturaLT-Light.ttf") format("truetype");
}
@font-face {
  font-family: "ExtraBold"; /*Can be any text*/
  src: local("FuturaLT-ExtraBold"),
    url("./font/FuturaLT-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Heavy"; /*Can be any text*/
  src: local("FuturaLT-Heavy"),
    url("./font/FuturaLT-Heavy.ttf") format("truetype");
}
@font-face {
  font-family: "Oblique"; /*Can be any text*/
  src: local("FuturaLT-Oblique"),
    url("./font/FuturaLT-Oblique.ttf") format("truetype");
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-10rem);
  }
  80% {
    transform: translate(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(10rem);
  }
  80% {
    transform: translate(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
:root {
  --primary-color: #b1454a;
  --secondary-color: #121212;

  --black-200: #020202;
  --black-300: #333333;
  --black-400: #1f1e31;
  --black-500: #555555;
  --gray-100: #888888;

  --color-white: #fff;
  --color-creamson: #fff0de;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 6rem;
  width: 6rem;
  position: fixed;
  top: 4rem;
  right: 4rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  position: fixed;
  top: 4.2rem;
  right: 4.2rem;
  background-image: radial-gradient(#c3c7f3, #e3aadd);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  width: 0;
  opacity: 0;
  /* transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); } */
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all 0.4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #e3aadd;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1; }

.navigation__icon {
  position: relative;
  margin-top: 2.9rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 2.3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s; }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.header__nav {
  background-image: linear-gradient(
      to top,
      rgba(237, 249, 251, 0.7),
      rgba(242, 220, 220, 0.7),
      rgba(236, 182, 230, 0.7),
      rgba(211, 181, 242, 0.8),
      rgba(166, 224, 252, 0.8)
    ),
    url(../assets/background-image.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
}
@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
  .header__nav {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    height: 99vh;
  }
}

.header__logo {
  position: absolute;
  top: 2rem;
  left: 1rem;

  font-size: 2em;
  background-image: linear-gradient(
    -180deg,
    #4f5cf2 100%,
    #6cb7f8 29%,
    #1c96fa 47%,
    #e9c6fb 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.header-main {
  color: #fff;
  backface-visibility: visible;
  text-transform: uppercase;
  margin-bottom: 2em;
}
.header-main--text {
  font-family: ExtraBold;
  display: block;
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 2px;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
.header-sub--text {
  font-family: Oblique;
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 20px;
  /* animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; */
  animation: moveInRight 1s ease-out;
}
.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}

.btn--header {
  background-color: #fff;
  color: #777;
}
.btn--white::after {
  background-color: #fff;
}
